.col-sm-3{
    padding-left: 0px;
    padding-right: 0px;
}
.gauge{
    height: 300px;
}
body {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #edeef0;
  height: 100%;
}
.theme-showcase {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 15px auto auto;
  padding: 10px;

}
/* цвет фона и рамки навигационного меню */
.navbar-default {
  position: absolute;
  width: 100%;
  background: #507299;
  height: 42px;
  border-bottom: 1px solid #466991;
  box-sizing: border-box;
  margin-bottom: 0;
}
/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
    color: #fff;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
    background-color: #486991;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
    background-color: #486991;
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #486991;
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #9E9E9E;
    border-bottom-color: #9E9E9E;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #9E9E9E;
    border-bottom-color: #9E9E9E;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* CSS стили для мобильных устройств */
/* Цвет рамки у кнопки, которая открывает меню */
.navbar-default .navbar-toggle {
    border-color: #507299;
}
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #507299;
}
/* Цвет полосочек в кнопочке, которая открывает меню */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
/* Цвет пунктов меню в раскрывающихся списках */
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
  }
/* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d1ffed;
        background-color: #27ae60;
    }
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background-color: #507299;
  color: #fff;
}
.nav-tabs  li.active  a,
.nav-tabs  li.active  a:hover,
.nav-tabs  li.active  a:focus{
  border: medium none;
  border-bottom: 2px solid #6387ac;
  border-radius: 0;
  color: #000;
  background-color: #fff;
}
.nav-tabs  li  a:hover,
.nav-tabs  li  a:focus{
  border: medium none;
  border-bottom: 2px solid #cad2db;
  border-radius: 0;
  color: #000;
  background-color: #fff;
}
.nav-tabs li a {
  border: medium none;
  border-bottom: 2px solid #fff;
  color: #656565;
  cursor: pointer;
  margin: 2px;
}
.nav-tabs {
  /*background-color: #fafbfc;*/
  border: medium none;
}
